# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
.venv/
env/
venv/

# OS junk
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/

# FastAPI / logs
*.log
*.pid

# Local test data
/tmp/
